@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
body {
    font-family: 'Gothic A1', sans-serif;
    color: #919191;
    background-color: rgb(26, 26, 26);
    font-size: 14px;
}

.container {
    max-width: 1000px;
}

.side {
    position: fixed;
    width: 450px;
}

.bio-content {
    padding: 60px 0 0 0;
}

.main-content {
    padding: 0px 0 0 0;
}

@media (max-width: 800px) {
    .side {
        position: static;
    }
}

a, a:hover {
    color: rgb(172, 172, 172);
    text-decoration: none;
    font-weight: 900;
}

.title-section {
    padding-top: 60px;
    font-weight: 600;
    color: #3d4c62;
}

.preview-img {
    object-fit: cover;
    height: 220px;
    width: 220px;
}

.big-text {
    font-size: 40px;
    font-weight: 600;
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: initial;
    width: inherit;
}

.progress {
   
    background: #acacac;
    border-radius: 25px;
    height: 5px;
}

.progress-bar-custom {
    background: rgb(0, 0, 0);}

td {
    color: #acacac;
}