@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
body {
    font-family: 'Gothic A1', sans-serif;
    color: #919191;
    background-color: #0a192f;
    font-size: 14px;
}
.container{
    max-width: 1000px;
}

.side {
    position: fixed;
}

.bio-content {
    padding: 60px 0 0 0;
}

.main-content {
    padding: 0px 0 0 0;
}

@media (max-width: 800px) {
    .side {
        position: static;
    }
}

 a, a:hover {
    color: wheat;
    text-decoration: none;
    font-weight: 900;
}


.title-section{
    padding-top: 60px;
    font-weight: 600;
    color: #3d4c62;

}

.preview-img{
    object-fit: cover;
    height: 220px;
    width: 220px;
}